In [44]:
def mul_list(list) :
    result = 1
    for i in list:
         result = result * i
    return result
     

list1 = [2,3,6]
print(list1)
print("result: ") 
print(mul_list(list1))

[2, 3, 6]
result:
36

In [59]:
def last(n):
    return n[-1]

def sort(tuples):
    return sorted(tuples, key=last)

a=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print("Sorted:")
print(sort(a))

Sorted:
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [98]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2= {'a': 300, 'b': 200, 'd':400}

for key in d2:
   if key in d1:
      d2[key] = d2[key] + d1[key]
   else:
    pass
res = d1 | d2
print(res)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [1]:
n = int(input("enter the value of n:"))
my_dictionary = {}
my_dictionary = {i : i*i for i in range (1 , n+1)}
print(my_dictionary)

enter the value of n:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:
price =[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [2]:
print("Create a new set:")
x = set()
print(x)
print(type(x))
print("\nCreate a non empty set:")
n = set([0, 1, 2, 3, 4])
print(n)
print(type(n))
print("\nUsing a literal:")
a = {1,2,3,'foo','bar'}
print(type(a))
print(a)

Create a new set:
set()
<class 'set'>

Create a non empty set:
{0, 1, 2, 3, 4}
<class 'set'>

Using a literal:
<class 'set'>
{1, 2, 3, 'bar', 'foo'}

In [3]:
#Create a set 
num_set = set([0, 1, 2, 3, 4, 5])
for n in num_set:
  print(n, end=' ')
print("\n\nCreating a set using string:")
char_set = set("w3resource")  
# Iterating using for loop
for val in char_set:
    print(val, end=' ')

0 1 2 3 4 5

Creating a set using string:
r e w u c o 3 s

In [4]:
#A new empty set
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("Red")
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "Green"])
print(color_set)

set()

Add single element:
{'Red'}

Add multiple items:
{'Green', 'Red', 'Blue'}